{% extends 'base.html.twig' %}

{% block title %}Création des compétences{% endblock %}

{% block body %}
<section class="skills-list">
    <div class="skills-list-div">
        <button class="create-btn-skill"><a href="/admin/skills/create">Créer une compétence</a></button>
        {% for skill in skills %}
            <div class="skill-list">
                <p>{{ skill.titre }}
                {{ skill.DateDebut|date("d/m/Y") }}
                {{ skill.DateFin|date("d/m/Y") }}
                {{ skill.category.name }}</p>

                <a class="edit-skill" href="{{ path('admin.edit.skills', {'id': skill.id}) }}">Modifier</a>
                <form method="POST" action="{{ path('admin.delete.skills', {'id': skill.id}) }}" onsubmit="return confirm('La supression a été effectuée !')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
                    <button class="create-btn-skill">supprimer</button>
                </form>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}